<form class="form-signin">
    <img class="mb-4" 
    src="https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/5/5c/Undertale_background_by_tyty9000-d9qeuzr.png/revision/latest?cb=20170729065451" 
    alt="under" width="272" height="172">
  
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
    <label for="inputUsername" class="sr-only">Username</label>
    <input  type="username" id="inputUsername" class="form-control" [(ngModel)]="username" name="username"
    placeholder="Username" required autofocus>
  
    <label for="inputPassword" class="sr-only">Password</label>
    <input  type="password" id="inputPassword" class="form-control" [(ngModel)]="password" name="password"
    placeholder="Password" required>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Manager Login
      </label>
    </div> -->
    <button (click)="EmpSubmit()" class="btn btn-lg btn-primary search-input-E" 
    type="submit">Employee Sign in</button>
  
    <button (click)="ManSubmit()" class="btn btn-lg btn-primary search-input-M" 
    type="submit">Manager Sign in</button>
      </form>