.back {
    display: block;
    margin-top: -10rem;
    padding: 30vh;
    background: lightgray;
    font-size: 2rem;
}

input {
    margin-top: 10px;
    padding: 20px;
}

.btn {
    // display: inline;
    // justify-content: space-between;
    // margin: 0 auto;

//     position: relative;
//     display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: nowrap;
//   flex-wrap: nowrap;
//   padding-bottom: 1rem;
//   margin-top: -1px;
//   overflow-x: auto;
//   text-align: center;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;



}