

<div class="back">
<h1>New Request</h1>
<br><br>

<a routerLink="/request"></a>

<div class="d-flex justify-content-around">
<button type="food" class="btn btn-info">food</button>
<button type="travel" class="btn btn-success">travel</button>
<button type="lodging" class="btn btn-danger">lodging</button>
</div>

<input class="form-control" type="text" placeholder="Dollar Ammount">

<div class="form-group">
    <label for="exampleFormControlTextarea1">Please enter a Discription and Recept #</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</div>
